header {
    text-align: center;
}

article>ul>li {
    margin: 20px;
    text-align: justify;
    width: 90%;
}

article {
    margin: 1%
}

body {
    font-family: 'Noto Serif', serif;
}

.answer {
    display: none;
}

table,
td,
th {
    border: 1px solid black;
}
table{
    
}
.true {
    background: green;
    color: white;
}

.false {
    background: red;
    color: white;
}